@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.img-apoio {
    max-height: auto;
    max-width: 100px;
}

.turismo-div {

    background-color: #ffffff;
    border-radius: 20px;
    padding: 65px;

    hr {
        margin: 60px 0px;
    }

    .services-image {
        margin-bottom: 40px;
        max-width: 250px;
        max-height: 250px;
        height: auto;
        width: auto;
    }

    .carousel-item img {
        border-radius: 20px;
        max-height: 600px;
        width: 400px;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 4rem;
        height: 4rem;
    }

}

.subtitulo {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.subtitulo-invertido {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60px;
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.influencia-prod {
    margin: 50px 0px;
}

/*Opção 1  de Cores
.subtitulo {
    color: #95ac2c;
    text-shadow: 2px 2px 1px #15432A;
}

.influencia-prod {
    color: #15432A;
}

.telefone-strong {
    color: #15432A;
}

.social-icon-link {
    background: #15432A;
}

.about-section h6 {
    color: #15432A;
}
    
.custom-btn {
    background: #95ac2c;
    color: var(--white-color);
}

.custom-btn:hover {
    background: #15432A;
    color: var(--white-color);
}

.site-footer-link {
    color: #95ac2c;
}

.site-footer-link:hover {
    color: #15432A;
}*/

/*Opção 2 de Cores*/
.subtitulo {
    color: #15432A;
    text-shadow: 0px 0px 0px #ffffff;
}

.influencia-prod {
    color: #95ac2c;
}

.telefone-strong {
    color: #95ac2c;
}

.social-icon-link {
    background: #95ac2c;
}

.about-section h6 {
    color: #95ac2c;
}

.custom-btn {
    background: #95ac2c;
    color: var(--white-color);
}

.custom-btn:hover {
    background: #15432A;
    color: var(--white-color);
}

.site-footer-link {
    color: #15432A;
}

.site-footer-link:hover {
    color: #95ac2c;
}

/*Opção 3*/