@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.subtitulo {
    /*font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;*/
    text-shadow: 2px 2px 1px #15432A;
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}